{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block sidebar %}
    <div class="content-section">
        <h3>Our Sidebar</h3>
        <div class="list-group">
            <a href="{% url "user-notifications" user.username %}">
                <button type="button" class="list-group-item list-group-item-action list-group-item-dark">
                Notifications
                <span class="badge bg-primary rounded-pill">{{ notification_count }}</span> 
                </button>
            </a>
            <a href="{% url "user-notifications" user.username %}">
                <button type="button" class="list-group-item list-group-item-action list-group-item-dark">
                Friends
                </button>
            </a>
            <a href="{% url "user-tasks" user.username %}">
                <button type="button" class="list-group-item list-group-item-action list-group-item-dark">
                Tasks
                </button>
            </a>
            <a href="#">
                <button type="button" class="list-group-item list-group-item-action list-group-item-dark">
                Calendar
                </button>
            </a>
        </div>
    </div>
{% endblock sidebar %}

{% block content %}
    <div class="content-section">
        <form method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}
